<h3>Video info</h3>

<p>Video name: <%=@video.name%></p>
<p>Video year: <%=@video.year%></p>
<p>Video link: <a href="<%=@video.link%>"><%=@video.link%></a></p>
<p>Video section number: <%= @video.section_id %></p>



