
<h2><%=@section.name%></h2>
<% if @user.id == @section.user_id %>
  <form action="/sections/<%=@section.id%>/edit" method="get">
    <input type="submit" value="Edit Section"></input>
  </form>
<% end %>
 
<br>

<h3>Section Videos:</h3>
<%@videos.each do |video|%>
  <p><% if video.watched == "yes" %>
    <%= "✓" %>
  <% end %>  
  <a href="/videos/<%= video.id %>"><%= video.name %></a>
: <%= video.year %>. 
  <% if @user.id == @section.user_id %>
  <a href="/videos/<%=video.id%>/edit">edit</a>
  <a href="/videos/<%=video.id%>/delete">delete</a>
  <% end %></p>

  <br>
<% end %>
<br>

<% if @user.id == @section.user_id %>
  <form action="/videos/new" method="get">
    <input type="submit" value="Add Video"></input>
  </form>

  
<% end %>

