
<h2><%=@section.name%></h2>

<form action="/sections/<%=@section.id%>/edit" method="get">
  <input type="submit" value="Edit Section"></input>
</form>
 
<br>

<h3>Section Videos:</h3>

<%@section.videos.each do |video|%>
  <p>
    <% if video.watched == "yes" %>
      <%= "✓" %>
    <% end %>  
    <a href="/videos/<%= video.id %>"><%= video.name %></a>
    : <%= video.year %>. 
  <br>
<% end %>

<form action="/videos/new" method="get">
  <input type="submit" value="Add Video"></input>
</form>


