<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Videolib</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <nav>
      <% if logged_in? %>
        <% @user = current_user %>
        <!--<a href="/sections"> All Sections</a>
        <a href="/videos"> All Videos</a>
        
        -->
        <a href="/users/<%=@user.username%>/sections"> Your Sections</a>
        <a href="/sections/new"> New Sections</a>
        <a href="/users/<%=@user.username%>/videos"> Your Videos</a>
        <a href="/videos/new"> New Video</a>
        <a href="/logout"> Log Out </a>

        <h4>Welcome, <%=current_user.username %>!</h4>

      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login"> Log In </a>
      <% end %>

    </nav>
    <div class="container">
      
      <% if !@error_message.nil? %>
      <div class="alert alert-warning">
        <%= @error_message %>
      </div>
    <% end %>
      <%= yield %> 
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
